.titulonosotros, .titulotabla, .maintitulofaqs {
  display: flex;
  justify-content: center;
  margin: 80px 40px;
  font-size: 40px;
  color: #000000;
  font-weight: bold;
}

div h2 {
  display: flex;
  justify-content: center;
  margin: 40px 20px;
  font-size: 40px;
  color: #000000;
  font-weight: bold;
}

.parrafo-contacto {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 80px;
  color: #000000;
}

.parrafonosotros {
  display: flex;
  margin: 80px 20px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

.textofaqs {
  display: flex;
  justify-content: center;
  margin: 50px 20px;
  font-size: 25px;
  color: #000000;
}

* {
  margin: o;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins";
}

/****Talles****/
.maintabla h2 {
  display: flex;
  justify-content: center;
  margin: 80px 20px;
  font-size: 30px;
  color: #000000;
  font-weight: bold;
}

/****Nosotros****/
.titulonosotros h2, .maintitulofaqs h2, .titulotabla h2 {
  display: flex;
  justify-content: center;
  margin: 80px 40px;
  font-size: 40px;
  font-weight: bold;
}

.parrafonosotros {
  display: flex;
  margin: 80px 20px;
  font-size: 30px;
  color: #000000;
}

/****Faqs****/
.maintitulofaqs {
  display: flex;
  justify-content: center;
  margin: 50px 50px;
  font-size: 40px;
  font-weight: bold;
}

.textofaqs {
  display: flex;
  justify-content: center;
  margin: 50px 20px;
  font-size: 25px;
  color: #000000;
}

/*****bootstrap*****/
a {
  color: white;
  text-decoration: none;
  font-size: 30px;
  margin-left: 240px;
}

h1 {
  margin-bottom: 30px;
  color: #000000;
}

label {
  color: #000000;
  font-family: "Poppins";
}

.btn-send {
  font-weight: 100px;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  width: 20%;
  margin-left: 3px;
  color: white;
}

.help-block.with-errors {
  color: #000000;
  margin-top: 5px;
}

.card {
  margin-left: 10px;
  margin-right: 10px;
}

.carousel-item {
  max-width: 1300px;
  max-height: 1300px;
}

/****FONTAWESOME****/
i {
  color: #000000;
}

/*****Footer*****/
i {
  color: #000000;
}

/**** media queries ****/
@media screen and (max-width:660px) {
  body{
      height: 100%;
      width: 100%;
  }

  .maintitulo h2{
    margin-top: 8px;
    margin-bottom: 8px;
    margin-left: 1px;
    font-size: 20px;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  .maintitulo1 h2 {
    font-size: 25px;
  }

   .navbar-brand img  {
    width: 90px;
    align-items: center;
   } 
   .navbar-brand{
     margin-left: 20px;
   }
   .nav-item a{
     font-size: 20px;
   }
   .titulonosotros{
     margin-top: 40px;
   }
   .titulonosotros h2{
     font-size: 20px;
     margin-top: 2px;
     margin-bottom:1px;
   }
   .parrafonosotros{
     margin-top: 2px;
     font-size: 15px;
   }
   .maintitulofaqs {
     font-size: 20px;
   }
   .textofaqs{
     font-size: 15px;
   }
   .parrafo-contacto h3 {
     margin-left: 18px;
   }

   }