//Variables//
$color-fuente: #571089;
$espaciado-titulos: 80px 40px;
$espaciado-parrafos: 80px 20px;
$forma-fuente: 40px;
$peso-fuente: bold;



//NOSOTROS//
.titulonosotros{
    display: flex;
    justify-content: center;
    margin: $espaciado-titulos;
    font-size: $forma-fuente;
    color: $color-fuente;
    font-weight: $peso-fuente;
}

.parrafonosotros {
    display: flex;
    justify-content: center;
    margin: $espaciado-parrafos;
    font-weight: $peso-fuente

}
 
/**** uso de extend****/
.parrafo-main {
    @extend .parrafonosotros;
}

/***MAPS***/
$colores: (
    'primario': lightblue,
    'secundario': violet,
);
 .parrafo-main {
     background-color: map-get($map: $colores , $key: 'secundario');
 }

/**** uso de mixins****/
 @mixin bordes {
     border: solid ;
     border-radius: 8px;
     
 }

.taller-img{
    @include bordes 
}