// Variables //
$margen-top: 80px;
$margen-bot: 80px;
$color-fuente: #000000;
$espaciado: 80px 20px;
$fuente-medida: 30px;
$peso-fuente: bold;


.parrafo-contacto{
    display: flex;
    justify-content: center;
    margin-top: $margen-top;
    margin-bottom: $margen-bot;
    color: $color-fuente;

}

.parrafonosotros{
    display: flex;
    margin: $espaciado;
    font-size:$fuente-medida ;
    color: $color-fuente;
    font-weight: $peso-fuente;

}

.textofaqs {
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    font-size: 25px;
    color: $color-fuente;
  }