//import
@import "titulos";
@import "parrafos";


// variables //
$color-fuente:#000000;
$peso-fuente:bold;


*{

    margin: o;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins';
  }
 
  /****Talles****/
  .maintabla h2 {
    display: flex;
    justify-content: center;
    margin: 80px 20px;
    font-size: 30px;
    color: $color-fuente;
    font-weight: bold;
  }
  
  /****Nosotros****/
  
  .titulonosotros h2{
    display: flex;
    justify-content: center;
    margin: 80px 40px;
    font-size: 40px;
    font-weight: bold;
  }
  .parrafonosotros{
    display: flex;
    margin: 80px 20px;
    font-size: 30px;
    color:$color-fuente;
  }
  /****Faqs****/
  
  .maintitulofaqs {
    display: flex;
    justify-content: center;
    margin: 50px 50px;
    font-size: 40px;
    font-weight: $peso-fuente;
  }
  .textofaqs{
    display: flex;
    justify-content: center;
    margin: 50px 20px;
    font-size: 25px;
    color:$color-fuente;
  }
  /*****bootstrap*****/ 
  a{
    
    color: white;
    text-decoration: none;
    font-size: 30px;
    margin-left: 240px;
  }
  
  h1 {
    margin-bottom: 30px;
    color: $color-fuente;
  }
  
  label {
    color:$color-fuente;
    font-family:"Poppins";
  }
  .btn-send {
    font-weight: 100px;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    width: 20%;
    margin-left: 3px;
    color: white;
  }
  .help-block.with-errors {
    color: $color-fuente;
    margin-top: 5px
  }
  .card {
    margin-left: 10px;
    margin-right: 10px;
  }
  .carousel-item{
    max-width: 1300px;
    max-height:1300px;
  }
  
  /****FONTAWESOME****/
  
  i{
    color: $color-fuente ;
  }
  
  /*****Footer*****/
  
  i{
    color: $color-fuente;
  }
  